<%- layout('layouts/main.ejs') %>
Esta es la app de lucia<br>
<button onclick="GoToLogin()">Login</button><br>
<button onclick="GoToRegister()">Register</button><br>

<img src="images/amber.png" alt="">

<script>
    function GoToLogin() {
        window.location.href = "/login"
    }
    function GoToRegister() {
        window.location.href = "/register"
    }
</script>