<%- layout('layouts/main.ejs') %>
Register <br>

<form action="/register" method="POST">
    user <input type="text" name="username" id="username"><br>
    pass <input type="password" name="password" id="password"><br>
    mail <input type="email" name="email" id="email">
    <input type="submit" value="register">
</form>
<br><br>
do you already have an account? <a href="/login">login</a>